{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron text-center">        

        <header>
            <h1><a href="/home">PORTAL</a></h1>
        </header>
    </div>
    <div class="container-fluid">
        
            <div class="col-lg-10 col-sm-10">
            <ul class="nav nav-pills">
            <li class="active"><a href="/upload">Upload</a></li>
            <li class="active"><a href="/index">Files Info</a></li>
            </ul>
            
        </div>
    </div>
        <div class= "text-center">
            total number of files uploaded:{{posts}}
            <br/>
            number of pdf files:{{pdf_file}}
            <br/>
            number of excel files:{{excel_file}}
            <br/>
            number of doc files:{{doc_file}}
            
        </div>

{% endblock %}