{% extends 'base.html' %}

{% block content %}


<div class="jumbotron text-center">
    <h1> PORTAL </h1>
</div>



  <div align="center" />
  <h2>Login!</h2>

  <form method = "POST" action="{% url 'login' %}">
      {% csrf_token %}
      username:
      <br/>
      <input type="text" name="username" />
      <br/>
      Password:
      <br/>
      <input type="password" name="password" />
      <br/>
      <br/>
      <input class ="btn btn-primary" type="submit" value= "Login" />
      <br/>
  
      {% if error %}
      {{ error }}

      <br/>
      <br/>
      {% endif %}
  </form>
  <a href="/signup" text="not registered">  SignUp</a>
  </div>
  

{% endblock %}