{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="jumbotron text-center">
    <h1> PORTAL </h1>
</div>
<div class="col-md-offset-4 col-md-6">
   

    <form method="POST" class="form-group">
	{% csrf_token %}
    
    {% for field in form %}
        <div>
            <p>{{ field.label }}: <br> {{field}} </p>

            {% for error in field.errors %}
                <small style="color: red">{{ error }}</small>
            {% endfor %}
        </div>
    {% endfor %}
	<button type="submit" class="btn btn-success">SignUp</button>
    </form>

</div>

{% endblock content %}
